<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume">
              Profile
            </a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="onepage-nev mobile-menu">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#about">about</a>
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a href="#resume">resume</a>
      </li>
      <li>
        <a href="#portfolio">Work</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <!-- Mobile Menu End -->
  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="contents">
            <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Sohom Roy</h2>
            <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Full Stack Web Application Developer</p>
            <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
              <li>
                <a class="facebook" href="https://www.facebook.com/connect.sigma.ssr" target="_blank"><i class="icon-social-facebook"></i></a>
              </li>
              <li>
                <a class="instagram" href="https://www.instagram.com/ssrinstag/" target="_blank"><i class="icon-social-instagram"></i></a>
              </li>
              <li>
                <a class="linkedin" href="https://www.linkedin.com/in/roysohom88/" target="_blank"><i class="icon-social-linkedin"></i></a>
              </li>
            </ul>
            <div class="header-button wow fadeInUp" data-wow-delay="1s">
              <a href="https://drive.google.com/file/d/14k5rKh8SpwmMHCr3igXmPNFZCmW_v4VH/view" target="_blank" class="btn btn-common">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/about/about-1.jpg" alt="">
        </div>
      </div> 
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
          <h3>Hi All!</h3>
          <p>My name is Sohom Roy. I'm a fulltime Full Stack Developer by profession with 7+ years of hands-on experience designing, developing, and implementing applications and solutions using a range of technologies and programming languages. Seeking to leverage broad development experience and hands-on technical expertise in a challenging role as a Full-stack Developer.</p>
          <p>My current company name is <span class="com-title"> Appsbee Solutions Pvt Ltd.</span>  Please download my current CV from here.</p>
          <div class="about-profile">
            <ul class="admin-profile">
              <li><span class="pro-title"> Name </span> <span class="pro-detail">Sohom Roy</span></li>
              <li><span class="pro-title"> Experience </span> <span class="expYears pro-detail">8+ Years</span></li>
              <li><span class="pro-title"> Country </span> <span class="pro-detail">India</span></li>
              <li><span class="pro-title"> Location </span> <span class="pro-detail">West Bengal, Kolkata</span></li>
              <li><span class="pro-title"> e-mail </span> <span class="pro-detail">roy.sohom88@gmail.com</span></li>
            </ul>
          </div>
          <a href="https://drive.google.com/file/d/14k5rKh8SpwmMHCr3igXmPNFZCmW_v4VH/view" target="_blank" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
          <a href="#contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
        </div>
      </div>   
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Resume Section Start -->
<div id="resume" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="education wow fadeInRight" data-wow-delay="0.3s">
          <ul class="timeline">
            <li>
              <i class="icon-graduation"></i>
              <h2 class="timelin-title">Education</h2>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">West Bengal University of Technology</h3>
                <span>2010 - 2013</span>
                <p class="line-text"> Calcutta Institute of Technology, Uluberia Master in Computer Application (MCA) passed with DGPA 8.42 (76.7%)</p>
              </div>
            </li>   
            <li>
              <div class="content-text">
                <h3 class="line-title">Calcutta University</h3>
                <span>2006 - 2010</span>
                <p class="line-text"> Vidyasagar College, Kolkata B.Sc. Honors (Mathematics) passed with 42%.</p>
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">West Bengal Council of Higher Secondary                      Education </h3>
                <span>2004 - 2006</span>
                <p class="line-text"> Kabi Bhijaylal Institute, Krishnanagar Higher Secondary Examination passed with 72.7%</p>
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">West Bengal Board of Secondary Education </h3>
                <span>1998 - 2004</span>
                <p class="line-text"> Krishnanagar High School, Krishnanagar Secondary Examination passed with 75.38%</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="experience wow fadeInRight" data-wow-delay="0.6s">
          <ul class="timeline">
            <li>
              <i class="icon-briefcase"></i>
              <h2 class="timelin-title">Experience</h2>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Web Application Developer - Appsbee Solutions Pvt Ltd</h3>
                <span>16 Aug 2016 - Present // Kolkata, WB</span>
                <p class="line-text">Language/Library Expertise - Angular @latest, ReactJS, Redux, JSX, TypeScript, JavaScript, NodeJS, Express, HTML5, CSS3, Bootstrap, SQL, jQuery</p>
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Web Application Developer - Simayaa Technologies</h3>
                <span>04 Mar 2016 - 02 Aug 2016 // Kolkata, WB</span>
                <p class="line-text">Language/Library Expertise - PHP, HTML5, CSS3, Bootstrap, SQL, JavaScript, jQuery</p>
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Web Application Developer - Matainja Technologies</h3>
                <span>23 June 2014 - 29 Feb 2016 // Kolkata, WB</span>
                <p class="line-text">Language/Library Expertise - PHP, HTML5, CSS3, SQL, JavaScript, jQuery</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section Start -->
<section id="contact" class="section-padding">      
  <div class="contact-form">
    <div class="container">
      <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="footer-right-area wow fadeIn">
            <h2>Contact Address</h2>
            <div class="footer-right-contact">
              <div class="single-contact">
                <div class="contact-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <p>Kolkata, West Bengal, In</p>
              </div>
              <div class="single-contact">
                <div class="contact-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <p><a href="mailto:roy.sohom88@gmail.com">roy.sohom88@gmail.com</a></p>
              </div>
              <div class="single-contact">
                <div class="contact-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <!--p><a href="#"></a></p-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14737.37186017061!2d88.38569966986785!3d22.566272577880284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02766286f64a13%3A0x5f7f1bf6d14844b0!2sBeleghata%2C+Kolkata%2C+West+Bengal!5e0!3m2!1sen!2sin!4v1564287732765!5m2!1sen!2sin"></object>
        </div>
      </div>
    </div>
  </div>   
</section>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
          <ul class="social-icon">
            <li>
              <a class="facebook" href="https://www.facebook.com/connect.sigma.ssr" target="_blank"><i class="icon-social-facebook"></i></a>
            </li>
            <li>
              <a class="instagram" href="https://www.instagram.com/ssrinstag/" target="_blank"><i class="icon-social-instagram"></i></a>
            </li> 
            <li>
              <a class="linkedin" href="https://www.linkedin.com/in/roysohom88/" target="_blank"><i class="icon-social-linkedin"></i></a>
            </li>
          </ul>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
<!-- <app-root></app-root> -->
<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="icon-arrow-up"></i>
</a>
